{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Logs Dashboard</title>
</head>
<body>
  <header>
    <h1>Logs Dashboard</h1>
  </header>
  {{ template "levelFilter" .}}
  <div id="logs" hx-get="/logs" hx-trigger="load"></div>
</body>
</html>
{{ end }}

{{ block "logs" . }}
  {{ range .Logs }}
    {{ template "log" . }}
  {{ end }}
{{ end }}

{{ block "log" . }}
  <div class="log">
    <p class="log-time">{{ .Time }}</p>
    <p class="log-level" style="color: {{ template "logColor" . }}">{{ .Level }}</p>
    <p class="log-body">{{ .Body }}</p>
  </div>
{{ end }}

{{ block "logColor" . }}
  {{ if eq .Level "error" }}
    red
  {{ else if eq .Level "warn" }}
    orange
  {{ else if eq .Level "info" }}
    green
  {{ else if eq .Level "debug" }}
    blue
  {{ else }}
    black
  {{ end }}
{{ end }}

{{ define "levelFilter" }}
    <div id = filter>
      <p>Filter by Log Level:</p>
      {{ range .Buttons }}
        {{ template "filterButton" . }}
      {{ end }}
    </div>
{{ end }}

{{ define "filterButton" }}
  <button id= 'filter-btn-{{ .Label }}'hx-post="/level" hx-trigger="click" hx-target="#logs" hx-vals='{"level": "{{ .Level }}"}'>{{ .Label }}</button>
{{ end }}
